body{
	font-family: 'Rubik', sans-serif;
	background: #000;
	color: white;
}

.head{
	background: gray;
	height: 50px;
	border-bottom: 2px solid greenyellow;
}

header{
	font-size: 25px;
	padding-top: 12px;
	padding-left: 30px;
	color: greenyellow;
}	

.container{
	background: hsl(226, 43%, 10%);
	margin: -10px 20px;
}

#welcome{
	color: greenyellow;
}

span{
	color: greenyellow;
}

.profile{
	padding: 20px;
	text-align: center;
}

 h2{
	font-size: 30px;
	color: greenyellow;
	text-align: center;
	margin-top: 20px;
	padding: 20px;
	border-radius: 18px
}

.profile p{
	font-size: 20px;
	color: white;
}

.profile-img{
	background-image: url(/images/user.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-color: greenyellow;
    background-blend-mode: luminosity;
    width: inherit;
    height: 346px;
    border-radius: 0 0 13px 13px;
}

.profile-img:hover{
	background-color: unset;
}

.img img{
	border-radius: 50%;
	border: 5px solid greenyellow;
	width: 300px;
}

.about{
	text-align: center;
	padding: 0px 20px;
	color: hsl(208, 25%, 38%);
}

h3, h4{
	font-size: 25px;
	line-height: 10px;
	color: white;
}

.about p{
	padding: 0 20px;
	line-height: 25px;
	font-size: 18px;
	overflow: hidden;
}

.writeup::-webkit-scrollbar{
  display: none;
}

.button{
	width: 150px;
	height: 60px;
	margin-bottom: 20px;
	margin-top: 10px;
	border-radius: 20px;
	border: 0;
	background: greenyellow;
	font-size: 18px;
	font-family: 'Rubik', sans-serif;
	font-weight: 500;
}

.button:hover{
	background: gray;
	color: greenyellow;
	border: 3px solid greenyellow;
}

.education{
	margin-top: 20px;
	text-align: center;
	padding: 0 20px;
}

.p{
	font-size: 15px;
	margin-top: -40px;
	color: gray;
}

.sch-details h3{
	color: black;
	line-height: 30px;
}

.sch-details p{
	color: gray;
	margin-top: -10px;
	margin-bottom: 30px
}

.sch-details h5{
	color: hsl(208, 25%, 38%);
}

.sch-1{
	background: greenyellow;
	height: 200px;
	border-radius: 20px;
	padding: 19px;
	margin: 20px 0;
}

.sch-2{
	background: greenyellow;
	height: 200px;
	padding-bottom: 20px;
	border-radius: 20px;
	padding: 10px
}

.project{
	background: gray;
	text-align: center;
}

#two{
	position: relative;
	background-color: greenyellow;
}

.project-others{
	display: grid;
	justify-content: space-evenly;
	grid-template-rows: 100px 100px 100px 150px;
	grid-template-columns: 400px 400px 400px;
	column-gap: 10px;
	row-gap: 200px;
}

.image{
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
  border: 3px solid greenyellow;
  cursor: pointer;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

#two:hover .image {
  opacity: 0.3;
}

#two:hover .middle {
  opacity: 1;
}

.text{
  width: 50px;
  height: 50px;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
}

.open{
	background: gray;
	color: greenyellow;
	font-family: 'Rubik', sans-serif;
	cursor: pointer;
	width: 80px;
	height: 40px;
	border-radius: 7px;
	border: none;
	margin-left: -10px;
	font-size: 20px;
	box-shadow: 1px 1px 30px 5px greenyellow;
	cursor: pointer;
}

.open:hover{
	background: greenyellow;
	color: gray;
	box-shadow: 1px 1px 5px 5px wheat;
}

.experience{
	text-align: center;
	padding-bottom: 20px;
	margin-top: -20px;
}

.experience .p{
	color: gray;
	padding: 0 40px;
	font-size: 15px;

}

.experience h3{
	color: white
}

#one{
	margin: 20px;
	height: 100px;
	padding-top: 20px;

}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
}

.contact{
	margin-top: 30px;
	padding-top: 10px;
	padding-bottom: 20px
}

.contact .p{
	text-align: center;
	color: gray;
	margin-top: -40px
}

a{
	text-decoration: none;
	display: block;
	text-align: center;
	padding: 40px;
	margin: 10px 20px;
	border-radius: 18px;
	color: white;
	font-size: 20px;
}

a:hover{
	width: inherit;
	margin: 0px;
	color: greenyellow;
	border-radius: 0;
	font-size: 25px;
	font-weight: 400;
}

#oned{
	background: #4267b2;
}

#two{
	background: linear-gradient(#5851d8, #e1306c);
}

#three{
	background: #1da1f2
}

#four{
	background: linear-gradient(#db4437, #fdd);
	background-position: 
}

#five{
	background: #25d366;
}

@media only screen and (min-width: 900px){
	body{
		background: hsl(226, 43%, 10%);
		margin: 50px;
	}

	.head-container{
		display: flex;
		justify-content: space-evenly;
		margin-right: 50px;
		margin-top: 100px;
	}

	.head{
		background: none;
		margin-top: -40px;
		border-bottom: none;
	}

	header{
		font-size: 50px;
		display: none;
	}

	h1{
		font-size: 60px;
		margin-top: 0px;
	}

	.profile{
		margin-top: 80px;
		margin-left: -70px;
	}

	.profile p{
		font-size: 30px;
		margin-top: 50px;
	}

	.profile-img{
	background-image: url(/images/user.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 400px;
    height: 400px;
    border-radius: 50%;
    margin-top: 30px;
    margin-right: -100px;
    margin-left: 30px;
	}

	.about{
		background: inherit;
		margin-top: 150px;
	}

	.others{
		display: flex;
		justify-content: space-evenly;
		background: wheat;
		border-radius: 15px;
	}

	h2{
		font-size: 40px;
		margin-top: 70px;
		color: greenyellow;
	}	

	.writeup{
		background: wheat;
		overflow-x: hidden;
		overflow-y: auto;
		margin-bottom: 20px;
		width: 33%;
		height: 450px;
		border-radius: 15px;
	}

	.writeup h3{
		font-size: 40px;
	}

	.writeup h4{
		font-size: 30px;
		color: white;
	}

	.img{
		margin-top: 80px;
	}

	.education-others{
		display: block;
		margin-top: 70px;
	}

	.sch-1, .sch-2{
		height: 350px;
		display: flex;
		background: inherit;
		margin-top: 100px;
		margin-bottom: 50px;
	}

	.sch-1 .sch-image{
		background-image: url(/images/gstc.jpg);
   	    background-size: contain;
        background-repeat: no-repeat;
		width: 40%;
		height: 350px;
	}

	.sch-2 .sch-image{
		background-image: url(/images/isma.jpg);
		 background-size: contain;
        background-repeat: no-repeat;
		width: 40%;
		height: 350px;
	}

	.sch-details h3{
		font-size: 30px;
		line-height: 50px;
		height: 200px;
		margin-top: 60px;
		color: white;
	}

	.sch-details p{
		font-size: 25px;
		margin-top: -100px;
		color: wheat;
	}

	.sch-details h5{
		font-size: 30px;
		color: greenyellow;
	}

	.experience h2{
		color: greenyellow;
	}

	.experience .p{
		color: wheat;
		margin-bottom: 40px;
	}

	.experience-others{
	}

	.first{
	display: grid;
	justify-content: space-evenly;
	grid-template-rows: 180px 180px 180px 180px;
	grid-template-columns: 160px 160px 160px 160px;
	column-gap: 10px;
	row-gap: 20px;
	}

	.first #three{
		background: black;
		font-size: 50px;
		padding-top: 20px;
		border-radius: 13px;
		margin-top: 20px;
	}

	.first #three:hover{
		background: greenyellow;
		color: black;
		width: 170px;
		font-size: 60px;
		margin-left: -5px;
	}


	.first #three p{
		font-size: 20px;
	}

	.second{
		margin-top: -150px;
		margin-bottom: 100px;
		display: flex;
		justify-content: space-around;
	}

	#skills div{
		background: black;
		width: 350px;
		height: 80px;
		margin-bottom: 20px;
		font-size: 25px;
		padding-top: 50px;
		border-radius: 13px;
	}

	#one{
		width: 250px;
		height: 200px;
		border-radius: 15px;
		margin-top: 67px;
		line-height: 30px;
	}

	#one h3{
		margin-top: 60px;
		line-height: 30px;
	}

	.contact h2{
		margin-top: -120px;
	}

	.contact .p{
		color: wheat;
	}

	.contact-links{
		display: flex;
		margin-top: 50px;
		justify-content: space-evenly;
	}

	#oned, #two, #three, #four, #five{
		background: inherit;
	}

	.project{
		background: inherit;
		margin-top: 40px;
	}

	footer{
		text-align: center;
		font-size: 15px;
		margin-top: 50px;
		margin-bottom: -100px;
		color: greenyellow;
	}

	footer h2{
		margin-top: -30px;
		font-size: 15px;
	}

}